aerich==0.1.9
aiohttp==3.6.2
aiomysql==0.0.20
aiosqlite==0.13.0
amqp==2.6.0
anyio==1.3.0
async-generator==1.10
async-timeout==3.0.1
asyncclick==7.0.9
asyncpg==0.20.1
atlastk==0.11.1
attrs==19.3.0
bcrypt==3.1.7
billiard==3.6.3.0
cachetools==4.1.1
celery==4.4.6
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
ciso8601==2.1.3
click==7.1.2
cryptography==2.9.2
cssselect==1.1.0
cssutils==1.0.2
databases==0.3.2
dnspython==1.16.0
email-validator==1.1.1
emails==0.6
fastapi==0.58.1
flower==0.9.5
future==0.18.2
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.7.7
httpcore==0.9.1
httptools==0.1.1
httpx==0.13.3
httpx-oauth==0.3.0
humanize==2.5.0
hyperframe==5.2.0
idna==2.10
importlib-metadata==1.7.0
inflection==0.5.0
iso8601==0.1.12
Jinja2==2.11.2
kombu==4.6.11
lxml==4.5.1
makefun==1.9.2
Mako==1.1.3
MarkupSafe==1.1.1
more-itertools==8.4.0
multidict==4.7.6
packaging==20.4
passlib==1.7.2
pluggy==0.13.1
premailer==3.7.0
prometheus-client==0.8.0
py==1.9.0
pycparser==2.20
pydantic==1.5.1
PyJWT==1.7.1
PyMySQL==0.9.3
pyparsing==2.4.7
PyPika==0.37.6
pytest==5.4.3
python-dateutil==2.8.1
python-editor==1.0.4
python-multipart==0.0.5
pytz==2020.1
redis==3.5.3
requests==2.24.0
rfc3986==1.4.0
six==1.15.0
sniffio==1.1.0
SQLAlchemy==1.3.18
starlette==0.13.4
tornado==6.0.4
tortoise-orm==0.16.12
typing-extensions==3.7.4.2
urllib3==1.25.9
uvicorn==0.11.5
uvloop==0.14.0
vine==1.3.0
wcwidth==0.2.5
websockets==8.1
yarl==1.4.2
zipp==3.1.0
